# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/


# OS files
.DS_Store
Thumbs.db

# IDEs (VSCode, PyCharm, etc.)
.vscode/
.idea/
*.iml
